/* Support for styles in scribble/lncs */

.SAuthorPlace, .SAuthorEmail,
.SConferenceInfo, .SCopyrightYear, .SCopyrightData,
.Sdoi, .SPexclusivelicense,
.SCategory, .SCategoryPlus, .STerms, .SKeywords {
  display: none;
}

.SSubtitle {
  display: block;
  font-size: smaller;
}
