on:
  pull_request:
  push:
    branches:
      - master
name: CI
jobs:
  build:
    name: "Build on Racket ${{ matrix.racket-variant }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        racket-variant: ["BC", "CS"]
    steps:
      - uses: actions/checkout@master
      # The next two step was copied from the CI config for Typed Racket:
      # https://github.com/racket/typed-racket/blob/master/.github/workflows/ci.yml
      - uses: Bogdanp/setup-racket@v1.12
        with:
          architecture: x64
          distribution: full
          variant: ${{ matrix.racket-variant }}
          version: current
          dest: '"${HOME}/racketdist-${{ matrix.racket-variant }}"'
          local_catalogs: $GITHUB_WORKSPACE
          sudo: never

      - run: raco pkg update -i --no-setup scribble-text-lib scribble-html-lib scribble-lib scribble-doc scribble
      - run: raco pkg install --auto -i --no-setup --skip-installed scribble-test
      # This uses --pkgs so that we don't have to figure out which collections
      # each package adds modules to.
      - run: raco setup --check-pkg-deps --pkgs scribble-text-lib scribble-html-lib scribble-lib scribble-doc scribble-test

      # Tests are run with --drdr to help keep racket's CI systems consistent
      # with each other.
      - run: raco test --drdr --package scribble-text-lib scribble-html-lib scribble-lib scribble-doc scribble-test
