name: Resyntax Autofixer

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 3"

jobs:
  autofix:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      pull-requests: write
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.2.2
      - name: Install Racket
        uses: Bogdanp/setup-racket@v1.11
        with:
          version: current
          local_catalogs: $GITHUB_WORKSPACE
          dest: '"${HOME}/racketdist-current-CS"'
          sudo: never
      - name: Register local packages
        run: |
          raco pkg install -i --auto --no-setup --skip-installed scribble-test scribble-doc
          raco pkg update --auto --no-setup scribble-text-lib scribble-html-lib scribble-lib scribble-doc scribble-test scribble
      - name: Install local packages
        run: raco setup --pkgs scribble scribble-doc scribble-html-lib scribble-lib scribble-test scribble-text-lib
      - name: Create a Resyntax pull request
        uses: jackfirth/create-resyntax-pull-request@v0.5.1
        with:
          private-key: ${{ secrets.RESYNTAX_APP_PRIVATE_KEY }}
